*{
    margin:0;
}
.container{
    display:grid;
    
    grid-template-columns: 1fr 2fr;
    background-color: #f3f8ff;
   column-gap: 10px; 
   
  
    
}
.right{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    padding:20px;
    
    
}
.item{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.material-icons{
    font-size: 50px !important;
}
.bottom{
     grid-column: 1/-1;
     
     padding:20px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: blue;
}
.left{
    display: flex;
    flex-flow: column wrap;
    
    justify-content: content;
    align-items: center;
}
button{
    border:none;
    background-color: white;
    color:blue;
cursor: pointer;
}
.arrow-icon{
    font-size:20px !important;
}
.bottom, .right, .left, .item{
    background-color: white;
    border: 0.1px solid rgb(226,224,224);
}
.bottom{
    border:none;
    margin-top: 10px;
}